<div class="bg-slate-200  min-h-[30rem] p-4 rounded-xl shadow-2xl w-11/12 md:5/6 lg:w-4/6 mx-auto">

  <h1 class="text-center text-3xl py-6">Listado de pendientes</h1>
  <div class="flex justify-center">
    <form [formGroup]="inputPen" (ngSubmit)="onSubmit()" class="w-4/6 flex flex-col">
      <input formControlName="pendiente" type="text" class="bg-white rounded-xl shadow-xl text-xl p-3 mb-4">
      <span *ngIf="isValidField('pendiente')" class="text-red-600 font-bold mb-2">
          {{ getFieldError('pendiente') }}
      </span>
      <button type="submit" class="p-3 bg-green-700 text-white font-bold rounded-lg shadow-xl focus:border-none">Agregar pendiente</button>
    </form>
  </div>


  <div class="flex justify-center mt-10">
    <div class="w-full">
      <app-lista-pendientes [listado]="mandarListado" [estado]="estado"></app-lista-pendientes>
    </div>
  </div>
  
</div>